/* 1.add remove button */
/* body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
   
}
#card{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    

}
#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    
}
#card h1{
  font-size: 30px;
  margin: 10px 0;
}
#card h5{
    font-size: 25px;
    margin: 20px;
    color: red;
  }

  #card button{
    background-color: cadetblue;
    color: white;
    border-radius: 25px;
    font-weight: 700;
    border: none;
    padding: 12px 20px ;
    margin: 5px;
    cursor: pointer;

    

  }
   #card #remove{
    background-color:#dadada;
    color: black;
  } */


/* 2.to do app */
  
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
  }
  .to-doapp {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
  }
  .to-doapp h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .to-doapp h2 img {
    width: 30px;
    margin-left: 10px;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
  }
  button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5943;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
  }
  ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("img/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
    
  }
  ul li.checkbox {
    color: #555;
    text-decoration: line-through;
  }
  ul li.checkbox::before {
    background-image: url("img/checked.png");
  }
  ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  ul li span:hover {
    background: #edeef0;
  }
  